<div class="modal-header label-success">
	<h4>
		<span style="color: white"><span class="glyphicon glyphicon-ok"></span>&nbsp;계정생성을 성공하였습니다.</span>
	</h4>
</div>
<div class="modal-body">

	<label>직원번호&nbsp;:&nbsp; {{data.seq}}</label><br>
	<label>직급 &nbsp;:&nbsp; {{data.level}}</label><br>
	<label>이름&nbsp;:&nbsp; {{data.name}}</label><br>
	<label>이메일&nbsp;:&nbsp; {{data.email}}</label><br>
	<label>전화번호&nbsp;:&nbsp; {{data.phone}}</label><br>
	
	
	
</div>
<div class="modal-footer">
	<button class="btn" ng-click="success()">확인</button>
</div>



